body{
    background-color: black;
    }
    body p,li,a,h2{
        padding-left: 25px;
        }
#headbar {

background-image: url("/water and rocks.png");
color: white;
padding: 100px;
text-align: center;
}

#main {
    background-color: #2f1f96;
    color: white;
    margin: -10px;
    }
#main h1 {
    text-align: center;
    font-family: 'Hi Melody', cursive;
    font-size: 48px;
    }
#main p {
    font-family: 'Hi Melody', cursive;
    font-size: 24px;
    }
#main li {
    font-size: 16px;
    }

    
