body{
    background-color: black;
    }
    body p,li,a,h2{
        padding-left: 25px;
        }
#navbar {
    position: fixed;
    opacity: 0;
    width: 100%;
}

#navbar:hover {
opacity:1;

}


#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}

#navbar li {
    float: left;
}
#navbar li .l {
float:right;
}
#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:hover {
    background-color: black;
}














@keyframes headbarvanish2 {
    0%   {height: 400px;margin-top:-50px}
    25%  {height: 250px;margin-top:-175px;}
    50%  {height: 100px;margin-top:-275px;
                         }
    100% {height: 0px;margin-top:-410px;}
}




#headbar {
background-image: url("/water and rocks.jpg");
color: white;
padding: 200px;
text-align: center;
}
#headbar a {animation-name: headbarvanish;
animation-duration: 0.5s;
animation-delay: 3s;
animation-fill-mode: forwards;
}
#headbar h1 {
font-size: 64px;
}
#headbar p {
font-size: 24px;
}
#headbar p {
    position: relative;
    bottom: 200px;
}
#headbar h1 {
    position: relative;
    bottom: 200px;
}
#main {
    background-color: #00284d;
    color: white;
    margin: -10px;
    }
#main h1 {
    text-align: center;
    font-family: 'Hi Melody', cursive;
    font-size: 48px;
    }
#main p {
    font-family: 'Hi Melody', cursive;
    font-size: 24px;
    }
#main li {
    font-size: 16px;
    }

    
